    <div class="card mt-4 mb-4" style="width: 18rem; margin-left: auto; margin-right: auto;">
        <img src="/img/wilder-0453.jpg" class="card-img-top" alt="...">
        <div class="card-body"> 
            <h5 class="card-title" style="text-align: center;">{{ allan.prenom }} {{ allan.nom }}</h5>
            <p class="card-text" style="text-align: center;">{{ allan.metier }}</p>
            <p class="card-text" style="text-align: center;">{{ allan.age }} ans</p>
        </div>
    </div>