<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #3C3E57; color: white;">
    <p>© 2022 Copyright: Created by Allan Hans</p>
  </div>
  <!-- Copyright -->
</footer>