<footer class="bg-light text-center text-lg-start position-absolute bottom-0" style="width:100%;">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: #3C3E57; color: white;">
    © 2022 Copyright: Created by Allan Hans
  </div>
  <!-- Copyright -->
</footer>